@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700'); 
@import url('font-awesome.css');

footer{
    background-color: #047de8;
}

footer>div>div>div{
    color: white;
}

.carousel-description{
    width: 100%;
    position: absolute;
    top: 10%;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
}

.carousel-text{
    text-align: center;
    max-width: 60%;
    width: 40%;
    margin: 0 auto;
    padding: 1rem;
    font-weight: bold;
    font-size: 50%;
    background-color: rgba(255,255,255,0.7);
}

.carousel-btn {
    color: white;
    border: none;
    background-color: #328cca;
    padding: 0.5rem 1.5rem;
}

.gray-text{
    color: #656565;
}

.carousel-btn>a {
    text-decoration: none;
}


.icon__card{
    height: 150px;
    align-items: center;
    display: flex;
    background-color: white;
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 65% 100%, 35% 100%, 0 90%, 0 0);
}

#trophyCard{
    background-color: #e8533f;
}

#pictCard{
    background-color: #d866b2;
}

#desktopCard{
    background-color: #6dc569;
}

#globeCard{
    background-color: #40aef0;
}

.icon__card>i{
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon__card>i::before{
    font-size: 100px;
    color: white;
}

@media screen and (min-width: 650px) {
    .carousel-description{
        top: 45%;
    }

    .carousel-text{
        text-align: center;
        max-width: 60%;
        width: 40%;
        margin: 0 auto;
        padding: 1rem;
        font-weight: bold;
        font-size: 100%;
        background-color: rgba(255,255,255,0.7);
    }
}

@media screen and (min-width: 1500px) {
    .carousel-description{
        top: 70%;
    }
}

.divider, .bg__courses {
    background-color: #efefef;
}

.quotes__indicator [data-bs-target] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: black solid 1px;
}

.bg__courses{
    max-width: 32%;
}

.pricing__head{
    background-color: #f9f9f9;
}