@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700'); 
@import url('font-awesome.css');

footer{
    background-color: #047de8;
}

footer>div>div>div{
    color: white;
}

.carousel-description{
    width: 100%;
    position: absolute;
    top: 70%;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
}

.carousel-text{
    text-align: center;
    max-width: 60%;
    width: 40%;
    margin: 0 auto;
    padding: 1rem;
    font-weight: bold;
    background-color: rgba(255,255,255,0.7);
}

.carousel-btn {
    color: white;
    border: none;
    background-color: #328cca;
    padding: 0.5rem 1.5rem;
}

.carousel-btn>a {
    text-decoration: none;
}